.music_container{
    margin-top: 36px;
    margin-left: 30%;    
    width: 45%;
    border: solid;
    border-width: 5px;
    border-color: red;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.music_hr{
    width: 90%;
    border-color: red;
}